---
---

<!DOCTYPE html>

<head>
    {% include head.ext %}

    <title>TGUI.Net</title>
</head>

<body>
<div id="Background">

    {% include header.ext %}

    {% include navigation.ext %}

    <div>
        <p>TGUI.Net is an easy to use cross-platform GUI for SFML.Net.<br />
           This project is a port of the <a href="http://tgui.eu">C++ TGUI library</a>.</p>

        <p>There are no tutorials yet, but you should take a look at the <a href="example-code/index.html">example code</a>.<br />
           You can also find instruction on how to setup TGUI.Net for <a href="visual-studio/index.html">windows</a>, <a href="linux/index.html">linux</a> and <a href="mac/index.html">mac</a>.</p>

        <p>Click here to <a href="https://github.com/texus/TGUI.Net/archive/master.zip">download TGUI.Net</a> (latest development snapshot).</p>

    </div>

    <div>
        <p>Screenshots:</p>
        <a href="http://tgui.eu/resources/Screenshot_v0.4_Black.png"><img class="ThumbnailBlackTheme" alt="Screenshot TGUI v0.4 Black style" src="resources/Screenshot_v0.4_Black_small.jpg" width="240" height="188" /></a>
        <a href="http://tgui.eu/resources/Screenshot_v0.4_BabyBlue.png"><img class="ThumbnailBabyBlueTheme" alt="Screenshot TGUI v0.4 BabyBlue style" src="resources/Screenshot_v0.4_BabyBlue_small.jpg" width="240" height="188" /></a>
        <p class="BehindFloat">You can find more screenshots <a href="http://old.tgui.eu/screenshots">here</a>.
    </div>

</div>
</body>
