---
---

<!DOCTYPE html>

<head>
    {% include head.ext %}

    <title>TGUI.Net</title>
</head>

<body>
<div id="Background">

    {% include header.ext %}

    {% include navigation.ext %}

    <div>
        <p>Status since March 2014: This website contains information about the TGUI.Net port of TGUI 0.6 which has become unmaintained to focus on the <a href="https://tgui.eu">C++ TGUI library</a>.</p>
        <p><b>Update 23 September 2016</b>: A .Net binding for TGUI 0.8 is currently being developed. Contact <a href="mailto:vdv_b@tgui.eu">vdv_b@tgui.eu</a> if you want try out a prototype.</p>
    </div>
</div>
</body>
