---
---

<!DOCTYPE html>
 
<head>
    {% include head.ext %}

    <title>TGUI.Net Mac (Xamarin Studio) guide</title>

    <link rel="stylesheet" type="text/css" href="{{site.url}}/highlight.css">
</head>

<body>
<div id="Background">

    {% include header.ext %}

    {% include navigation.ext %}

    <div>
    <h3>Compiling TGUI.Net</h3>

    <p>Just open the TGUI.Net.sln file from the build directory with Xamarin Studio and compile it.<br />
       The tguinet.dll file will be created in the lib folder.</p>
    </div>

    <div>
    <h3>Using TGUI.Net</h3>
    <p class="SmallBottomMargin">We will start by creating an empty project.</p>
    <a href="../resources/MacXamarinStudioCreateEmptyProject.png"><img alt="Mac OS X - Xamarin Studio - Create empty project" src="../resources/MacXamarinStudioCreateEmptyProject.png" /></a>

    <p class="SmallBottomMargin">Add tguinet.dll to the references, together with your sfml libraries.</p>
    <a href="../resources/MacXamarinStudioEditReferences.png"><img alt="Mac OS X - Xamarin Studio - Edit references" src="../resources/MacXamarinStudioEditReferences.png" class="SmallBottomMargin" /></a>
    <a href="../resources/MacXamarinStudioEditingReferences.png"><img alt="Mac OS X - Xamarin Studio - Editing references" src="../resources/MacXamarinStudioEditingReferences.png" /></a>
    
    <p class="SmallBottomMargin">Now you should be able to run code that uses TGUI.</p>
    <a href="../resources/MacXamarinStudioExampleCode.png"><img alt="Example code" src="../resources/MacXamarinStudioExampleCode.png" class="SmallBottomMargin" /></a>
    <a href="../resources/MacXamarinStudioRunningExampleCode.png"><img alt="Running example code" src="../resources/MacXamarinStudioRunningExampleCode.png" /></a>
    </div>

    <div>
    <h3>Mapping dlls to so files</h3>
    
    <p>Because SFML.Net is a binding instead of a port, you need to map the CSFML .dll files to corresponding .so files.<br />
       Although TGUI.Net is a port and does not require this, it does require opengl which you will have to map.<br />
       <br />
       So next to your executable you will need the following three files (with similar contents) in order to run the executable.<br />
       If you create these files with TextEdit, then make sure to save these config files in plain text format and uncheck the "If no extention is provided, use .txt" option.</p>

<p class="SmallBottomMargin">sfmlnet-window-2.dll.config</p>
<pre>
{% highlight xml %}
<configuration>
    <dllmap dll="csfml-window-2" target="/usr/local/lib/libcsfml-window.2.1.dylib"/>
</configuration>
{% endhighlight %}
</pre>

<p class="SmallBottomMargin">sfmlnet-graphics-2.dll.config</p>
<pre>
{% highlight xml %}
<configuration>
    <dllmap dll="csfml-window-2" target="/usr/local/lib/libcsfml-window.2.1.dylib"/>
    <dllmap dll="csfml-graphics-2" target="/usr/local/lib/libcsfml-graphics.2.1.dylib"/>
</configuration>
{% endhighlight %}
</pre>

<p class="SmallBottomMargin">Tao.OpenGl.dll.config</p>
<pre>
{% highlight xml %}
<configuration>
    <dllmap dll="opengl32.dll" target="/System/Library/Frameworks/OpenGL.framework/OpenGL"/>
</configuration>
{% endhighlight %}
</pre>

    </div>

    <div>
    <h3>Known issues</h3>
    <ul>
        <li>When running from Xamarin Studio, I had to move the sfml dylibs to /usr/lib (instead of /usr/local/lib) to make it work.</li>
        <li>The most simple sfml example makes mono crash on exit on my pc. I'm not sure yet if this is my fault or not.</li>
    </ul>
    </div>
</div>
</body>
