---
---

<!DOCTYPE html>
 
<head>
    {% include head.ext %}

    <title>TGUI.Net example code</title>
</head>

<body>
<div id="Background">

    {% include header.ext %}

    {% include navigation.ext %}

    <h2>Example code</h2>

    <h3>C#</h3>
    <div class="MediumDistance">
        <p><a href="csharp-login-screen/index.html">Login screen example</a></p>
    </div>

    <h3>Visual Basic.Net</h3>
    <div>
        <p><a href="vb-login-screen/index.html">Login screen example</a></p>
    </div>

</div>
</body>
